<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='errorpage.css') }}">
    <title>ERROR</title>
</head>

<body>
    <main>
        <div class="error-box">
            <h1 class="error-box--code">{{ context.error.code }}</h1>
            <p class="error-box--description">{{ context.error.description }}</p>
        </div>
    </main>
</body>

</html>